<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>audifi</title>
</head>

<body>
    {% block content %}
    <header>
        <img src="/static/imgs/pc-logo.png" alt="pc logo">
        <h2>A Collectors Notebook</h2>
    </header>
    {% endblock %}
    <footer>
        <sub>audifi copyright &copy <em>Kuckle Buster Technologies 2021</em></sub>
    </footer>
    <script type="text/javascript" src="/static/js/index.js"></script>
</body>

</html>